@font-face {
  font-family: "MullerBold"; /* Имя шрифта */
  src: url(../fonts/MullerBold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "MullerRegular"; /* Имя шрифта */
  src: url(../fonts/MullerRegular.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "MullerExtraBold"; /* Имя шрифта */
  src: url(../fonts/MullerExtraBold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "MullerMedium"; /* Имя шрифта */
  src: url(../fonts/MullerMedium.otf); /* Путь к файлу со шрифтом */
}

body {
  background: url('../img/slice.png');
  margin: 0;
  padding: 0;
  font-family: "MullerRegular", sans-serif;
}

/********************* FOR DESKTOP *********************/

.container  {
  width: 921px;
  margin: auto;
  text-align: center;
}

.wrapper {
  margin-top: 54px; 
}

.title {
  margin-top: 101px;
}

.title-heading {
  margin-bottom: 45px;
  color: #6c1c02;
  font-family: "MullerBold";
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
}

.title p {
  font-family: "MullerRegular";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.title-heading__bold1 {
  font-family: "MullerBold";
  font-weight: 700;
}

.title-heading__bold2 {
  font-family: "MullerExtraBold";
  font-weight: 700;
}

.box {
  background: #fff;
  width: 271px;
  height: 462px;
  padding-top: 40px;
  float: left;
  margin: 0 49px 50px 0;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
}

.box-img {
  width: 158px;
  height: 336px;
  margin: auto;
}

.box-desc, .box-desc__double {
  color: #393939;
  font-family: "MullerRegular";
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0 32px;
}

.box-desc__double {
  padding-bottom: 15px;
}

.box-desc__double span{
  color: #7f7f7f;
  font-family: "MullerRegular";
  font-size: 14px;
}

.box-price {
  color: #393939;
  font-family: "MullerMedium";
  font-size: 18px;
  font-weight: 400;
}
.box-price__bold {
  font-family: "MullerBold";
  font-size: 20px;
  font-weight: 700;
}


.button {
  margin: 0;
  background: #e70000;
  border: 0;
  outline: none;
  padding: 20px 48px;
  margin-bottom: 98px;
  color: #fff;
  font-family: "MullerBold";
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 960px) {
.box:nth-child(3n+3) {
    margin-right: 0;
  }
.text-visible__full {
    display: block;	
  }
.text-visible__small {
    display: none;	
  }
}


/********************* FOR TABLET *********************/
@media screen and (max-width: 960px) {
    .container  {
      width: 591px;
    }

    .box:nth-child(2n+2) {
      margin-right: 0;
    }

.text-visible__full {
    display: block;	
  }
.text-visible__small {
    display: none;	
  }

}

/********************* Для MOBILE *********************/
@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
    .container  {
      width: 271px;
    }
    .box {
      margin-bottom: 50px;
    }
    .box:nth-child(n) {
      margin-right: 0px;
    }
    .title {
      margin-top: 50px;
    }
    .button {
      padding: 10px 48px;
      margin-bottom: 50px;
    }
    .text-visible__full {
      display: none;	
    }
   .text-visible__small {
      display: block;	
    }
}

@media only screen and (max-device-width: 320px) {
  .containter, .title, .wrapper, .button, .text-visible__full, .text-visible__small {
    display: none;
  }
  
  body {
    background: url('../img/girl2.jpg') no-repeat top center;
    background-color: #ddd;
  }
}