
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	background: #777;
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.7;
	align-items: center;
}

.header-img {
	padding: 0 30px;
	height: auto;
}

.header-text {
	margin-right: 20px;

}

.main-text h2 {
	text-align: center;
	color: #555;
}

.main-text p {
	font-size: 16px;
	text-align: justify;
	color: #333;
	line-height: 1.4em;
}

.main-text {
	color: #333;	
	line-height: 1.4em;
	padding: 40px;
	background-color: rgba(180,180,180,.3);
}

.chapter-img {
	float: left;
	margin: 0 30px 20px 0;
}

.text-del {
	text-decoration: line-through;
}

.notes {
	font-weight: 700;
	font-size: large;
}

.wrap {
	position: relative;
}

.content {
	position: fixed;
	border: 4px solid #ccc;
	left: 0;
	top: 0;
	padding: 40px 20px;
	/*display: block;*/
	/*background: url("../img/content-bg.png") no-repeat top center / cover;*/
	background-color: rgba(0,0,0,0.99);
	background-attachment: fixed;
	opacity: 0.8;
}

.content h1 {
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 20px #000;
	text-decoration: underline;
}

.content ul li {
	list-style-type: none;
}

.content ul li h2 a{
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 20px #000;
	font-weight: 700;
	font-size: 22px;
}

.content ul li h2 a:hover{
	color: #ccc;
}

.notes-content {
	font-size: 18px !important;
	color: #fff !important;
	text-shadow: 1px 1px 20px #000;
}

.text-italic {
	font-style: italic;
	color: rgba(10,10,180,.8);
}


footer {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
	background-color: #777;
}